

:root {
  --bcg1-color: #FFFFFF;
  --bcg2-color: #F3F7F4;
  --bcg3-color: #101C21;
  --text1-color: #283337;
  --text2--color: #40494D;



}

*,
*::before,
*::after {
  box-sizing: border-box;
}



html {
  font-size: 1rem;
}

body {
  font-family:Arial, Helvetica, sans-serif
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.list-reset {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 1px;
  color: var(--text-color);
  margin: 0;
}

.h1__tonkiy{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 1px;
  color: var(--text-color);
  margin: 0;
}


.h2 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 36px;
  text-align: center;
  color: var(--text-color);
  margin: 0;
}

.h3 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 31px;
  color: #40494D;
  margin: 0;
}

.container{
  position: relative;
  max-width:1280px ;
  width: 100%;

  margin: 0 auto;
  padding: 0 0;

}

.text {
  font-size: 1.125rem;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  color: var(--text2--color);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text1-color);
  border-radius: 56px;
  max-height: 56px;
  padding-top: 16px;
  padding-bottom: 19px;
  cursor: pointer;
}

.main__logo{

}

.header__btn{
  width: 177px;
}

.product__btn{
  width: 243px;
}

.about-us__btn{
  width: 218px;
}

.btn__link{
  color: #FFFFFF;
}

.header__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height:120px ;
  height: 100vw;
}


.header__catalog{
margin-left: 345px;
margin-right: 108px;
}

.nav__catalog{
  list-style-type: none;
  display: flex;
}

.catalog__item{
margin-right: 69px;

}

.catalog__item:last-child{
  margin-right: 0;
}

.poisk{

  border: 1px solid var(--bcg3-color);
  border-radius: 360px;
  padding: 17.7px;

  margin-right: 15px;
}

.lupa{
  display: flex;
  justify-content: center;
  align-items: center;

}

.about-us{
  background-color:var(--bcg2-color);
  height:1225px ;

  max-width: 100%;
  width: 100%;
}


.about-us__left{
  display: flex;
  margin-left: 35px;
  margin-top: 278px;
  flex-direction: column;

}

.Complete{

  display: flex;
  width: 420px;
  height: 180px;
  text-align: top;

  align-content: top;
  margin-bottom: 44px;


}

.Oversee{
  line-height: 31px;
  width: 347px;

  height: 62px;

  margin-bottom: 26px;
}

.about-us__top{
  display: flex;

}

.about-us__right{

  width: 633px;

  height: 615px;

  margin-top: 179px;
  margin-left: 150px;
}

.about-us__bot{
  display: flex;
  align-content: center;
  margin-top: 181px;
  margin-left: 117px;
  margin-right:117px;
}


.about-usBot__item{
  display: flex;
  align-items: center;

  margin-right: 80px;

}

.about-usBot__item:last-child{
  margin-right: 0;
}

.absolute{
  align-content: center;
}

.product{
  height:728px ;

  max-width: 100%;
  width: 100%;
}

.product__left{
  width: 363px;
  height: 287px;
  margin-top: 74px;
  margin-left: 80px;
}

.product__h1{
  margin-bottom: 28px;
}

.cloudenablement{
  text-decoration-line: underline;
  font-weight: 700;
}

.product__text1{
  font-size: 17px;
}

.product__text2{
  height:104px;
  width: 363px;
  margin-bottom: 39px;
}
